.register {
  max-width: 500px;
  min-height: 400px;
  margin: 130px auto;
  background-color: transparent;
  border-radius: 10px;
}

.login {
  max-width: 500px;
  height: 390px;
  margin: 130px auto;
  background-color: transparent;
  border-radius: 10px;
}

.register form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.register input {
  width: 70%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
}

.register button {
  width: 75%;
  border-radius: 20px;
  padding: 13px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  color: cornflowerblue;
  background-color: black;
}

.register h3 {
    color: #ccc;
    font-size: 18px;
    margin-top: 40vh;
}

.register a {
    color: #ccc;
}